@use "../abstracts/" as *;

html {
    font-family: $mainFontSize, "Calibri";
    scroll-behavior: smooth;
}

body {
    color: $blue-200;
    background-color: $gray-100;
    font-weight: $normal;

    padding-inline: map-get($gutters, "g-1");
}
